<div class="row post"
    *ngFor="let post of data">
    <div class="col-md-1">
        <app-vote-button [post]="post"></app-vote-button>
    </div>
    <div class="col-md-11">
        <span class="subreddit-info"
            style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <span class="subreddit-text">
                    {{post?.subredditName}}
                </span>
                <span> . Posted by <a class="username"
                        routerLink="/user-profile/{{post?.userName}}">{{post?.userName}}</a></span>
                <span> . {{post?.duration}}</span>
            </div>
            <a routerLink="/post-update/{{post?.id}}">
                <fa-icon [icon]="faEdit"
                    style="color: blue; cursor: pointer;"
                    *ngIf="post?.userName === user"></fa-icon>
            </a>
        </span>
        <hr />
        <div class="post-title">
            <!-- <a class="postname"
                href="{{post?.url}}">{{post?.postName}}</a> -->
            <p class="postname"
                style="color: #0d6efd; cursor: pointer;"
                (click)="goToPost(post?.id)">
                {{post?.postName}}
            </p>

        </div>
        <div>
            <a class="postname"
                style="cursor: pointer; text-decoration: underline;"
                href="{{post?.url}}">
                {{post?.url}}
            </a>
            <p class="post-text"
                [innerHtml]="post?.description"></p>
        </div>
        <hr />
        <span>
            <a class="btnCommments"
                role="button">
                <fa-icon [icon]="faComments"></fa-icon>
                Comments({{post?.commentCount}})
            </a>
            <button class="login"
                (click)="goToPost(post?.id)">
                Read Post
            </button>
        </span>
    </div>
</div>